<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>

<body>
    {{>header}}
    <div>
        <div class="container">
            {{>navbar}}
        </div>
    </div>

    <div class="container">
    <pre>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, ad. Officia exercitationem libero, placeat architecto amet repudiandae quae numquam quasi magnam possimus consequuntur perferendis vero. Molestiae, veniam? Libero, voluptatum ipsum!</pre>

    </div>

</body>

</html>